# Python bytecode
*.pyc
*.pyo
__pycache__/

# Arquivos de ambiente e configuração
.env
*.ipynb_checkpoints/

# Dados temporários do Colab
*.colab

# Resultados de execução do notebook
*.log

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db

# Arquivos e diretórios específicos do Colab
colab_notebooks/
